/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&display=swap');

/* :root Variables to easily update colour scheme  */
:root {
    /* p = Primary / s = Secondary */
    --white-backgorund: #fff;
    --light-background: #F3F3F3;
    --s-light-background: #ddd;
    --dark-backgrond: #2B2B34;
    --p-highlight: #55C2DA;
    --s-highlight: #28798B;
    --p-text: #000;
    --s-text: #fff;
}

/* override default styles added by the browser 
THIS IS ALSO COPIED FROM LOVE RUNNGING - HOW MUCH IS TOO MUCH*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
}

h2 {
    padding: 8rem 2rem 4rem 2rem;
    font-size: 2.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--s-text);
}

.highlight-text {
    font-weight: 500;
}

.green-icon {
    color:var(--p-highlight);
}

/* Header Section */
header {
    position: fixed;
    /* Always keep header on top */
    z-index: 9999;
    top: 0;
    display: flex;
    width: 100%;
    height: 96px;
    padding: 12px 32px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-backgorund);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Make Logo appear more interesting by lowering the letter spacing */
.logo {
    letter-spacing: -2px;
    color: var(--p-text);
}

/* Navbar styles with dropdown toggle 
THIS SECTION IS ALSO TAKEN FROM LOVE RUNNING and slightly adapted*/
/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--white-backgorund);
    width: 80%;
    right: 0;
    padding: 0 1rem;
    border-radius: 0 0 5px 5px;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    top: 100%;
}

#menu {
    list-style-type: none;
    padding: 1rem;
}

#menu>li {
    padding: 1rem 0;
}

#menu a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--p-text);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 2rem;
}

.active {
    background-color: var(--s-light-background);
}

.separated-nav-element {
    margin-top: 1rem;
}

ul li a#nav-subscribe-button {
    background-color: var(--dark-backgrond);
    color: var(--s-text);
    font-weight: 700;
    margin-top: 1rem;
}

/* Selects only Home and Gallery links attr: https: //stackoverflow.com/questions/8821193/nth-child-or-first-child-how-to-select-first-and-second-child-in-one */
#menu li:nth-child(-n+2)>a:hover {
    background-color: var(--light-background);
}

#nav-subscribe-button:hover {
    background-color: var(--p-highlight);
    color: var(--p-text);
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
}

/* Main Section */
main {
    /* restrict main section width for readability and center it if it gets too large */
    width: 100vw;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--white-backgorund);
    flex-grow: 1;
}

/* Hero Section */
#hero {
    margin-top: 96px;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hero-image {
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    width: 90vw;
    min-height: 450px;
    border-radius: 32px;
    text-align: center;
}

#hero-text {
    margin-top: 2rem;
    /* Bug: cant center align div over a picture with a line that isnt exactly in the center ... */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: left;
}

#hero-text>p {
    flex: 1;
}

.text-align-right {
    text-align: right;
}

.hero-text-style {
    font-size: 2rem;
    font-weight: 700;
    line-height: 90%;
    color: #ffffff;
}

#hero-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-bottom-container>h2 {
    padding: 2rem;
}

.hero-button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--dark-backgrond);
    border-style: none;
    color: var(--s-text);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Differences Section */
#differences {
    padding-bottom: 3rem;
}

#section-divider-differences {
    background: url(../images/section-divider-1.webp) no-repeat center center/cover;
    min-height: 200px;
}

.rounded-rectangle-container {
    display: flex;
    margin: 0 1rem;
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    border-radius: 32px;
    background: var(--light-background);
}

#differences h3 {
    padding: 1rem 0;
}

.rounded-rectangle-container p {
    padding-bottom: 2rem;
}

.bold-paragraph {
    font-weight: 600;
}

/* Timeline Section */
#timeline {
    margin-bottom: 3rem;
}

#timeline>h3 {
    padding-bottom: 4rem;
    text-align: center;
}

.timeline-element-container {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    margin: 0 1rem;
}

.timeline-figure>img {
    width: 70%;
    border-radius: 1rem;
}

.timeline-figure>figcaption {
    font-style: italic;
}

.line-container {
    flex: 0 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.line {
    width: 1px;
    border: medium solid var(--dark-backgrond);
}

.line-top-element {
    border-radius: 3px 3px 0 0;
}

.line-bottom-element {
    border-radius: 0 0 3px 3px;
}

.timeline-element-container>.event {
    margin: 40px 0;
}

/* slider-quotes Section */
#slider-quotes {
    background-color: var(--dark-backgrond);
}

#slider-quotes>h2,
#slider-quotes>h3 {
    color: var(--s-text);
    text-align: center;
}

.slider {
    height: 100%;
    min-height: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}

.slider__nav {
    display: none;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.slider__contents {
    min-width: 250px;
    margin: 2rem;
    padding: 2rem 2rem;
    border-radius: 32px;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-background);
}

.slider__image {
    margin-bottom: 2rem;
    font-size: 2.7rem;
    color: var(--dark-backgrond);
}

.slider__txt {
    margin-bottom: 3rem;
    max-width: 300px;
}

.slider_author {
    align-self: flex-end;
    text-align: right;
    font-weight: 700;
}

/* Signup Section */
#signup-section {
    text-align: center;
    padding: 1rem 0 3rem 0;
}

#signup-text {
    padding: 8rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

#signup-section h2 {
    padding: 2rem;
}

.blue-text {
    color: var(--s-highlight);
}

.newsletter-button {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--p-highlight);
    color: var(--p-text);
}

label > .newsletter-button:hover {
    background-color: var(--dark-backgrond);
    color: var(--s-text);
}

#signup-picture {
    background: url(../images/signup-picture.webp) no-repeat center center/cover;
    display: none;
}

/* Signup Form */
#signup-form {
    display: none;
}

form {
    background-color: var(--light-background);
    border-radius: 32px;
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 2rem 1rem;
}

.display-none {
    display: none;
}

input[type=email] {
    min-width: 350px;
    padding: 15px;
    border-radius: 1rem 0 0 1rem;
    border: none;
    background: var(--s-text);
    font-size: 1rem;
    height: 60px;
}

input[type=email]:focus {
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

input[type=submit] {
    background-color: var(--dark-backgrond);
    color: var(--s-text);
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0 2rem 2rem 0;
}

/* Signup toggle */
#signup-toggle:checked~#signup-form {
    display: flex;
}

#signup-toggle {
    display: none;
}

/* Gallery Section */
#gallery {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
}

.paragraph-subtitle {
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 700;
}

/* Masonry styling for Gallery. Adapted from https://w3bits.com/flexbox-masonry/ */
.masonry-gallery {
    display: flex;
    flex-direction: column;
}

.masonry-brick>img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Signup Page */
.redirect-link {
    color: var(--p-text);
    text-decoration: underline;
}

.inline-text {
    /* remove the flex property of border box */
    display: block;
}

/* Footer */
body>footer {
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-backgrond);
    color: var(--s-text);
}

/* Styling for Socials adapted from Love Running by Code Institute */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: var(--s-light-background);
}

/* Media query: small Phones (375 and down) */
@media screen and (max-width: 375px) {
    h2 {
        font-size: 2rem;
    }
}

/* Media query: tablets and Phones (570 and down) */
@media screen and (max-width: 570px) {
    #signup-form {
        flex-direction: column;
        gap: 1rem;
    }

    #signup-form>input {
        border-radius: 1rem;
    }
}

/* Media query: tablets and Phones (768 and down) */
@media screen and (max-width: 768px) {

    /* Slider Qutoes Section adapted from: https: //codepen.io/maheshambure21/pen/qZZrxy?editors=1100 */
    .slider {
        min-height: 500px;
        flex-wrap: wrap;
    }

    .slider__nav {
        display: flex;
        width: 48px;
        height: 48px;
        margin: 2rem 12px;
        border-radius: 50%;
        z-index: 10;
        outline: 24px solid var(--s-light-background);
        outline-offset: -24px;
        box-shadow: 0 0 0 0 #333333, 0 0 0 0 rgba(51, 51, 51, 0);
        cursor: pointer;
        appearance: none;
        backface-visibility: hidden;
    }

    .slider__nav:checked {
        animation: check 0.4s linear forwards;
    }

    .slider__nav:checked:nth-of-type(1)~.slider__inner {
        left: 0%;
    }

    .slider__nav:checked:nth-of-type(2)~.slider__inner {
        left: -100%;
    }

    .slider__nav:checked:nth-of-type(3)~.slider__inner {
        left: -200%;
    }

    .slider__nav:checked:nth-of-type(4)~.slider__inner {
        left: -300%;
    }

    .slider__inner {
        width: 400%;
        height: 100%;
        transition: left 0.4s;
    }

    .slider__contents {
        padding: 0 2rem;
        justify-content: center;
        margin-bottom: 110px;
    }

    @keyframes check {
        50% {
            outline-color: #6a6a80;
            box-shadow: 0 0 0 12px #6a6a80, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }

        100% {
            outline-color: #6a6a80;
            box-shadow: 0 0 0 0 #6a6a80, 0 0 0 0 rgba(51, 51, 51, 0);
        }
    }
}

/* Media query: tablets and larger (768 and up) */
@media screen and (min-width: 768px) {

    /* Navbar */
    .nav-toggle-label {
        display: none;
    }

    header {
        padding-right: 12px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        border-radius: 0;
        top: 0;
        padding: 0;
    }

    #menu {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }

    .separated-nav-element {
        margin-top: 0;
    }

    /* Hero Section */
    #hero-image {
        height: 750px;
    }

    #hero-text {
        padding-top: 3rem;
    }

    #hero-bottom-container {
        width: 90vw;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 0;
    }

    .hero-text-style {
        font-size: 2.5rem;
    }

    .hero-button:hover {
        background-color: var(--p-highlight);
        color: var(--p-text);
    }

    /* Differences Section */
    .rounded-rectangle-container {
        max-width: 80vw;
        margin: 0 auto;
    }

    #diff-outer-container {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    #diff-outer-container>div {
        flex: 1;
    }

    /* Timeline Section */
    #timeline-container {
        max-width: 744px;
        margin: 0 auto;
    }

    /* Signup Section */
    #signup-section {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }

    #signup-text {
        flex: 1 0 350px;
    }

    input[type=submit]:hover {
        background-color: var(--p-highlight);
        color: var(--p-text);
    }

    #signup-picture {
        display: block;
        flex: 1 1 100px;
    }

    /* Gallery Section */
    .masonry-gallery {
        flex-wrap: wrap;
        max-height: 2190px;
        /* Adjustment for the gutter */
        margin-left: -8px;
    }

    .masonry-brick {
        /* Some gutter */
        margin: 0 8px 8px 0;
        /* allow for 2 columns */
        width: 50%;
    }

    .masonry-brick>img {
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}

/* Media query for Gallery 840px and up */
@media screen and (min-width: 840px) {

    /* Gallery Section */
    .masonry-gallery {
        max-height: 2390px;
    }
}

/* Media query: Laptops, desktops, 992px and up */
@media screen and (min-width: 992px) {

    /* Hero Section */
    #hero {
        flex-direction: row;
        margin: 5rem 3rem 3rem 3rem
    }

    #hero-bottom-container {
        flex-direction: column;
        gap: 3rem;
    }

    /* Signup Form */
    #signup-form {
        display: flex;
    }

    /* Gallery Section */
    .masonry-gallery {
        max-height: 2800px;
    }

    /* Signup Section */
    #signup-text {
        gap: 0;
    }

    .newsletter-button {
        display: none;
    }
}

/* costum Media query for Gallery 1170px and up */
@media screen and (min-width: 1170px) {

    /* Gallery Section */
    .masonry-gallery {
        max-height: 1600px;
    }

    .masonry-brick {
        width: 33%;
    }
}

/* Media query for slider-quotes Section 1256px and up */
@media screen and (min-width: 1256px) {
    .slider {
        min-height: 500px;
    }
}

/* Media query: Big Laptops, desktops, 1200px and up */
@media screen and (min-width: 1200px) {

    /* Differences Section */
    #differences {
        padding: 0 3rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
    }

    #differences h2 {
        padding: 0 0 2rem 0;
    }

    #differences-text-container {
        flex: 2 0 0;
        margin: 3rem 0;
    }

    #section-divider-differences {
        flex: 1 0 0;
        border-radius: 32px;
    }
}