/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&display=swap');

/* override default styles added by the browser 
THIS IS ALSO COPIED FROM LOVE RUNNGING - HOW MUCH IS TOO MUCH*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

/* Header Section */
header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 96px;
    padding: 12px 32px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Make Logo appear more interesting by lowering the letter spacing */
.logo {
    letter-spacing: -2px;
}

/* Navbar styles with dropdown toggle 
THIS SECTION IS ALSO TAKEN FROM LOVE RUNNING and slightly adapted*/
/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 80%;
    right: 0;
    padding: 0 1rem;
    border-radius: 0 0 5px 5px;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    top: 100%;
}

#menu {
    list-style-type: none;
    padding-bottom: 1rem;
}

#menu>li {
    padding: 1rem;
    height: fit-content;
}

#menu a {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
}

ul li #nav-subscribe-button {
    /* Button Style */
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #2B2B34;
    /* Text Style */
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
}

/* Main Section */

/* Hero Section */
#hero {
    margin-top: 96px;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hero-image {
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    width: 90vw;
    min-height: 450px;
    border-radius: 32px;
    text-align: center;
}

#hero-text {
    margin-top: 2rem;
    /* Bug: cant center align div over a picture with a line that isnt exactly in the center ... */
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.hero-text-style {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 90%;
    color: #ffffff;
}

#hero-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-button {
    /* Button Style */
    padding: 1rem 2rem;
    border-radius: 2rem;
    /* SHOULD THIS BE A MORE VISIBLE COLOR??? */
    background-color: #2B2B34;
    border-style: none;
    /* Text Style */
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Differences Section */
#differences {
    padding-bottom: 3rem;
}

#section-divider-differences {
    background: url(../images/section-divider-1.webp) no-repeat center center/cover;
    min-height: 200px;
}

.rounded-rectangle-container {
    display: flex;
    margin: 0 1rem;
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    border-radius: 32px;
    background: #F3F3F3;
}

.rounded-rectangle-container p {
    padding-bottom: 2rem;
}

.bold-paragraph {
    font-weight: 600;
}

/* Timeline Section */
.timeline-element-container {
    display: flex;
    align-items: stretch;
}

.line-container {
    flex: 0 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.line {
    width: 1px;
    border: medium solid black;
}

.line-top-element {
    border-radius: 3px 3px 0 0;
}

.line-bottom-element {
    border-radius: 0 0 3px 3px;
}

.timeline-element-container>.event {
    margin: 40px 0;
}

/* Quotes Section */
#quotes-section {
    background-color: #2B2B34;
}

#quotes-section h2,
#quotes-section h3 {
    color: #ffffff;
}

#quotes-section h3 {
    text-align: center;
}

#quotes-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 3rem 0;
}

.quote {
    min-width: 80vw;
}

.right-aligned-paragraph {
    text-align: right;
}

/* Signup Section */
#signup-section {
    text-align: center;
    padding: 1rem 0 3rem 0;
}

.blue-text {
    color: #28798B;
}

.newsletter-button {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    background-color: #55C2DA;
    color: #000000;
}

#signup-picture {
    background: url(../images/signup-picture.webp) no-repeat center center/cover;
    display: none;
}

/* Footer */
footer {
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
    background-color: #151526;
    color: #ffffff;
}

/* Media query: tablets and larger (768 and up) */
@media screen and (min-width: 768px) {

    /* Navbar */
    .nav-toggle-label {
        display: none;
    }

    header {
        padding-right: 12px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        border-radius: 0;
        top: 0;
        padding: 0;
    }

    #menu {
        display: flex;
        align-items: center;
        padding: 0;
    }

    /* Hero Section */
    #hero-image {
        height: 750px;
    }

    #hero-text {
        padding-top: 3rem;
    }

    #hero-bottom-container {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }

    /* Differences Section */
    .rounded-rectangle-container {
        max-width: 80vw;
        margin: 0 auto;
    }

    #diff-outer-container {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    #diff-outer-container>div {
        flex: 1;
    }

    #timeline-container {
        max-width: 744px;
        margin: 0 auto;
    }

    /* Quotes Section */
    #quotes-container {
        overflow-x: visible;
        flex-wrap: wrap;
        gap: 3rem 0;
        padding: 3rem 0;
    }

    #quotes-container>div {
        min-width: unset;
        max-width: 300px;
    }

    /* Signup Section */
    #signup-section {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }

    #signup-section>div {
        flex-grow: 1;
    }

    #signup-text {
        padding: 3rem 0;
    }

    #signup-picture {
        display: block;
        width: 50vw;
    }
}